* {
    margin: 0;
    padding: 0;
}

html {
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed
}

.header {
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
}