body {
    padding: 10px;
    margin: 0;
}

.escenario {
    border: 1px solid #aaa;
    padding: 10px;
    margin: 10px 0;
} 

.escenario-1 {
    width: 100%;
}

.escenario-2 {
    width: 50%;
}

.px {
    background-color: violet;
    width: 100px;
}

.porcentaje {
    background-color: teal;
    color: aliceblue;
    width: 50%;
}

.view {
    background-color: sienna;
    color: aliceblue;
    width: 30vw;
}