:root {
    --color-principal:rgb(215, 27, 221);
    --anchor-principal: 250px;
}

.titulo {
    color: var(--color-principal);
}

.parrafo {
    color: var(--color-principal);
}

.contenedor {
    background-color: antiquewhite;
    width: var(--anchor-principal);
}